<style>
    #destress_container {
        padding-top: 20%;
    }
    .text-reduce {
        font-weight: bold;
        color: #ffffff;
        padding-right: 2%;
        font-size: 120%;
    }

    .text-activity-reduce {
        font-size: large;
        color: aquamarine;
        font-weight: bolder;
        margin-top: 2%;
    }

    #stress-level{
        color: #ffffff;
    }

    #new_activity {
        background-color: rgba(173, 173, 173, 0.69);
        border: rgba(206, 206, 206, 0.69);
        color: #FFFFFF;
        font-weight: bold;
        font-size: 100%;
    }

    #title_1 {
        color: #ffffff;
        font-size: 130%;
    }

    #title_2{
        color: #e4e8e9;
        font-size: 100%;
    }

    #btn_home{
        background-color: #00d2d4;
        border-color: transparent;
        font-size: 80%;
    }

    .btn{
        margin: 5% 1em;
    }

    .message {
        color: floralwhite;
        font-weight: bold;
        font-size: large;
        margin-top: 2%;
    }

    .col-xs-2 {
        width: 11.666667%;
    }

    .btn-do {
        background-color: #00d2d4;
        margin-left: 2em;
        color: black;
        font-weight: bold;
    }

    .btn-danger {
        margin-left: 2em;
        font-weight: bold;
        color: beige;
    }
    .custom-btn-group {
        display: flex;
        margin-left: 2.5em;
        /*align-items: center;*/
        /*justify-content: center;*/
    }
    .custom-btn-group .btn {
        margin: auto 0.3em;
    }

    .modal-body p {
        font-size: 1em;
        line-height: 1em;
        padding: 15px 0;
    }
</style>

<link rel="stylesheet" href="css/modal.css">


<div class="schedule_body w3-layout-container" id="destress_container">

    <div class="destress-title">
        <h2 id="title_1" class="destress-title fadeIn"> Pick an Activity</h2>
        <h2 id="title_2" class="destress-title fadeIn"> Start Your De-stressing Journey</h2>
    </div>


    {{#with data}}
        <div class="destress-stress-level">
            <p class="text-reduce">Your Current Stress:  </p>
            <span id="stress-level" class="text-reduce">{{total_stress}}</span>
        </div>
    {{/with}}

    {{#with destress}}
        {{#each default}}
            <div class="activity hvr-glow">
                <div class="row">

                    <p class="col-xs-6 message">{{ message }}</p>
                    <p class="col-xs-1 text-activity-reduce">-{{ stress_reduce }}</p>

                    <div class="text-right col-xs-4">
                        <button class="btn btn-do">Do</button>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each custom}}
            <div class="activity hvr-glow">
                <div class="row">

                    <p class="col-xs-6 message">{{ message }}</p>
                    <p class="col-xs-1 text-activity-reduce">-{{ stress_reduce }}</p>

                    <div class="text-right col-xs-2 custom-btn-group">
                            <button class="btn btn-do">Do</button>
                            <!--button is hooked to POST request in mindlee.js-->
                            <button class="btn btn-destress-delete btn-danger">Delete</button>
                            <!--button is hooked to POST request in mindlee.js-->
                    </div>
                </div>
            </div>
        {{/each}}
    {{/with}}


    <div class = "btn_stress">
        <div class= "btn_flex">
            <a href="/add_destress">
                <button type="button" id = "new_activity" class="btn btn-primary btn-lg"> Add Custom De-Stress Activity</button>
            </a>
        </div>


        <div class= "btn_flex">
            <a href="/home">
                <button type="button" id= "btn_home" class="btn btn-primary btn-lg"> Go Back</button>
            </a>
        </div>
    </div>



    <!-- Trigger/Open The Modal -->
    <button id="myBtn" hidden="true" >Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Destress In Progress</h2>
            </div>
            <div class="modal-body">
                <p id="modal-body"></p>
            </div>
            <div class="modal-footer">
                <h3>  </h3>
            </div>
        </div>
    </div>

</div>

<script>

    // Get the modal
    var modal = $('#myModal');

    // Get the button that opens the modal
    var btn = $("#myBtn");

    // Get the <span> element that closes the modal
    var span = $(".close")[0];

    function doDestress(e) {
        e.preventDefault();
        let $de_activity = $(this).closest('.activity');
        let destress_value = -(parseInt($de_activity.find('p.text-activity-reduce').text()));
        let destress_msg =  $de_activity.find('p.message').text();
        let now = new Date();
        let date = now.yyyymmdd();
        let time = format_time(now);

        $.post('/do_destress', { value: destress_value , message: destress_msg, 'now': now, 'date': date, 'time': time} , function (new_hist, res) {
            if ($.isEmptyObject(new_hist)) {
                console.log('no more stress to destress');
                $("#stress-level").text(0);
            } else {
                let new_stress = parseFloat(new_hist.total_stress);
                $("#stress-level").text(new_stress);
//                    "background-color", "linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);"
//                $("body").css( "background-color", "blue" );
//                console.log("linear-gradient(to bottom, rgba(" + new_stress*2 + "," + 256 - (new_stress*2) + ",132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);");
            }
            $("#modal-body").text('Stress level reduced by : ' + destress_value);
            // modal.show();
        }).fail( function () {
            alert('failed');
        });
        window.location.replace("/destress");
    }

    function deleteDestressActivity(e) {
        e.preventDefault();

        let $de_activity = $(this).closest('.activity');
        let $destress_message = $de_activity.find('p.messag');
        console.log($destress_message.text());
        let msg = $destress_message.text();

        console.log('message(client): ' + msg);
        $.post('/delete_destress_activity' , { message: msg}, function (req, res) {
            console.log('client clicked delete destress.');
            $de_activity.fadeOut();
        });
    }


    // for destress page
    $(".btn-destress-delete").click(deleteDestressActivity);
    $(".btn-do").click(doDestress);

    // When the user clicks the button, open the modal
    btn.click(function() { modal.show(); });

    // When the user clicks on <span> (x), close the modal
    span.click(function() { modal.hide(); });

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (modal.is(':visible')) {
            modal.fadeOut();
        }
    };

</script>

