<style>
    #destress_container {
        padding-top: 20%;
    }
    .text-reduce {
        font-weight: bold;
        color: #ffffff;
        padding-right: 2%;
        font-size: 120%;
    }

    .text-activity-reduce {
        font-size: large;
        color: aquamarine;
        font-weight: bolder;
        margin-top: 2%;
    }

    #stress-level{
        color: #ffffff;
    }

    #new_activity {
        background-color: rgba(173, 173, 173, 0.69);
        border: rgba(206, 206, 206, 0.69);
        color: #FFFFFF;
        font-weight: bold;
        font-size: 100%;
    }

    #title_1 {
        color: #ffffff;
        font-size: 130%;
    }

    #title_2{
        color: #e4e8e9;
        font-size: 100%;
    }

    #btn_home{
        background-color: #00d2d4;
        border-color: transparent;
        font-size: 80%;
    }

    .btn{
        margin: 5% 1em;
    }

    .message {
        color: floralwhite;
        font-weight: bold;
        font-size: large;
        margin-top: 2%;
    }

    .col-xs-2 {
        width: 11.666667%;
    }

    .btn-do {
        margin-left: 2em;
        color: black;
        font-weight: bold;
    }

    .btn-success{
        background-color: #00d2d4;
        border-color: transparent;
        font-size: 90%;
    }

    .activity-value{
        font-size: 80%
        vertical-align: middle;
    }

    .btn-danger {
        margin-left: 2em;
        font-weight: bold;
        color: beige;
    }
    .custom-btn-group {
        display: flex;
        margin-left: 2.5em;
        /*align-items: center;*/
        /*justify-content: center;*/
    }
    .custom-btn-group .btn {
        margin: auto 0.3em;
    }
</style>


<div class="schedule_body w3-layout-container" id="destress_container">

    <div class="destress-title">
        <h2 id="title_1" class="destress-title fadeIn"> Pick an Activity</h2>
        <h2 id="title_2" class="destress-title fadeIn"> Start Your De-stressing Journey</h2>
    </div>


    {{#with data}}
        <div class="destress-stress-level">
            <p class="text-reduce">Your Current Stress:  </p>
            <span id="stress-level" class="text-reduce">{{total_stress}}</span>
        </div>
    {{/with}}

    {{#with destress}}
        {{#each default}}
            <div class="activity hvr-glow">
                <div class="row">

                    <p class="col-xs-6 message">{{ message }}</p>
                    <p class="col-xs-1 text-activity-reduce">-{{ stress_reduce }}</p>

                    <div class="text-right col-xs-4">
                        <button class="btn btn-success btn-do">Do</button>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each custom}}
            <div class="activity hvr-glow">
                <div class="row">

                    <p class="col-xs-6 message">{{ message }}</p>
                    <p class="col-xs-1 text-activity-reduce">-{{ stress_reduce }}</p>

                    <div class="text-right col-xs-2 custom-btn-group">
                            <button class="btn btn-success btn-do">Do</button>
                            <!--button is hooked to POST request in mindlee.js-->
                            <button class="btn btn-destress-delete btn-danger">Delete</button>
                            <!--button is hooked to POST request in mindlee.js-->
                    </div>
                </div>
            </div>
        {{/each}}
    {{/with}}


    <div class = "btn_stress">
        <div class= "btn_flex">
            <a href="/add_destress">
                <button type="button" id = "new_activity" class="btn btn-primary btn-lg"> Add Custom De-Stress Activity</button>
            </a>
        </div>


        <div class= "btn_flex">
            <a href="/home">
                <button type="button" id= "btn_home" class="btn btn-primary btn-lg"> Go Back</button>
            </a>
        </div>
    </div>



</div>


