<style>
    #destress_container {
        padding-top: 20%;
    }
    .text-reduce {
        font-weight: bold;
        color: #ffffff;
        padding-right: 2%;
    }

    #stress-level{
        color: #ffffff;
    }

    #new_activity {
        background-color: rgba(173, 173, 173, 0.69);
        border: rgba(206, 206, 206, 0.69);
        font-family: "Oxygen";
        color: #FFFFFF;
        font-weight: bold;
        font-size: 130%;
    }

    #title_1 {
        font-family: "Oxygen";
        color: #ffffff;
        font-size: 130%;
    }

    #title_2{
        font-family: "Oxygen";
        color: #e4e8e9;
        font-size: 100%;
    }

    #btn_home{
        background-color: #2bbfbe;
        border-color: #2bbfbe;
        font-size: 80%;
    }

    .btn{
        font-size:
    }

</style>


<div class="schedule_body w3-layout-container" id="destress_container">

    <div class="destress-title">
        <h2 id="title_1" class="destress-title fadeIn"> Pick an Activity</h2>
        <h2 id="title_2" class="destress-title fadeIn"> Start Your De-stressing Journey</h2>
    </div>


    {{#with data}}
        <div class="destress-stress-level">
            <p class="text-reduce">Your Current Stress:  </p>
            <span id="stress-level">{{total_stress}}</span>
        </div>
    {{/with}}

    {{#with destress}}
        {{#each default}}
            <div class="activity hvr-glow">
                <div class="row">
                    <p class="col-xs-6 ">{{ message }}</p>
                    <p class="col-xs-1 text-reduce">-{{ stress_reduce }}</p>
                    <div class="text-right col-xs-4">
                        <button class="btn btn-success btn-do">Do</button>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each custom}}
            <div class="activity hvr-glow">
                <div class="row">
                    <p class="col-xs-6 d-message">{{ message }}</p>
                    <p class="col-xs-1 text-reduce">-{{ stress_reduce }}</p>

                    <div class="btns_add">
                        <div class="text-right col-xs-2">
                            <button class="btn btn-success">Do</button>
                            <!--button is hooked to POST request in mindlee.js-->
                        </div>
                        <div class="text-right col-xs-2">
                            <button class="btn btn-destress-delete btn-danger">Delete</button>
                            <!--button is hooked to POST request in mindlee.js-->
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/with}}


    <div class = "btn_destress">
        <div class= "btn_flex">
            <a href="/add_destress">
                <button type="button" id = "new_activity" class="btn btn-primary btn-lg"> Add Custom De-Stress Activity</button>
            </a>
        </div>


        <div class= "btn_flex">
            <a href="/home">
                <button type="button" id= "btn_home" class="btn btn-primary btn-lg"> Go Back</button>
            </a>
        </div>
    </div>



</div>


