<div class="main-content container">

    <div class="container page-header">
        <label class="col-md-8" for="">Your Schedules</label>
        <form class="col-md-1" action="/add" style="float: right">
            <button class="btn-block btn-group-lg"><img type="submit" class="plus" src="images/plus.svg" alt=""></button>
        </form>
    </div>

    <div class="schedule_body w3layouts" id="schedule_body">

        {{#with data}}
            {{#ifCond total_activities '>' 0}}
                {{#each activities}}
                    <div class="container activity hvr-grow" data-id={{@key}}>
                        <p>Title: {{ title }}</p>
                        <p class="act_date">Date: {{date}}</p>
                        <p class="act_time">Time: {{time}}</p>
                        <p class="stress_level">Stress Level: {{stress_level}}</p>
                        <div class="text-right">
                            <a href="/add"><button href="/add_activity">Edit</button></a>
                            <button class="delete-btn btn-danger">Delete</button>
                            <!--button is hooked to POST request in mindlee.js-->
                        </div>
                    </div>
                {{/each}}
            {{/ifCond}}
            {{#ifCond total_activities '<=' 0}}
                <div class="w3-round-jumbo alert-info">
                    <p class="">
                        You don't have any activities yet. You can add by clicking the <img class="plus" src="images/plus.svg">
                        button.
                    </p>

                </div>
            {{/ifCond}}
        {{/with}}

    </div>

    <a href="/home">
        <button class="btn-block btn-group-justified">
            Go to See your Stress Level
        </button>
    </a>
</div>

<!-- The actual snackbar -->
<div id="snackbar"><a href="/home">Your stress level is a little bit high (click)</a></div>
<!--TODO: how to customize script and link? -->
